@for $i from 0 through 20 {
  $o: $i * 0.05;
  .opacity-#{$i} {
    opacity: $o;
  }
}
.invert {
  filter: invert(1);
}
.desaturate {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.blur-bg {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}