.trade {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $black;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    border: 2px solid $black;
  }

  *:hover {
    ::-webkit-scrollbar-thumb {
      background: $grey;
    }
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $primary1;
    border-width: 1px;
  }
}