.decimal {
  font-family: "mono", monospace;
  font-weight: 400;
  display: inline-flex;
  align-items: baseline;

  & > span {
    display: block;
  }

  &__dec {
    font-size: 0.85em;
  }

  &__symbol {
    margin-left: 0.25rem;
  }

  &--symbol-small &__symbol {
    font-size: 0.85em;
    margin-left: 0;
  }

  &__int {
    order: 1;
  }
  &__dec {
    order: 2;
  }
  &__symbol {
    order: 3;
  }

  &--label-left &__int {
    order: 2;
  }
  &--label-left &__dec {
    order: 3;
  }
  &--label-left &__symbol {
    order: 1;
    margin-left: 0;
    margin-right: 0.25rem;
  }
}
