.rujira-header {
  width: 100%;
  padding: 0 1.5rem;
  z-index: 199;
  display: flex;
  align-items: center;
  position: relative;
  height: 6rem;

  @media screen and (min-width: $large) {
    padding: 0 2rem;
    height: 7rem;
  }

  &--static {
    position: relative;
  }

  &__logo {
    height: 3rem;
    width: auto;
  }

  &__connect,
  &__pfp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    //background: $grey;
    color: $black;
    cursor: pointer;

    flex-shrink: 0;
    background-size: cover;

    div {
      overflow: hidden;
      user-select: none;
      text-align: center;
      margin: 0 auto;
    }

    svg {
      width: auto;
      display: block;
      flex-shrink: 0;
    }
  }

  &__connect {
    padding: 0.5rem;
    box-shadow: 0 0 0 0.25rem rgba($grey, 0.25), 0 0 0 1px rgba($grey, 0.25);
    background: transparent;
    transition: box-shadow 0.2s;
    color: $grey;
    
    &:hover {
      color: $white;
      box-shadow: 0 0 0 0.375rem rgba($grey, 0.25), 0 0 0 1px rgba($grey, 0.75);
    }

    svg {
      height: 1.25rem;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__pfp {
    /* background: linear-gradient(
      45deg,
      $primary2,
      $primary1 100%
    );
    color: $white; */
    box-shadow: 0 0 0 0.25rem rgba($primary2, 0.25), 0 0 0 1px rgba($primary2, 0.25);
    background: transparent;
    transition: all 0.2s;
    
    svg {
      height: 2.25rem;
      margin: auto;
    }
    
    &:hover {
      box-shadow: 0 0 0 0.375rem rgba($primary2, 0.25), 0 0 0 1px rgba($primary2, 0.75);
    }
  }

  &__quick {
    display: block;
    margin-right: 0.5rem;
    position: relative;
    
    svg {
      display: block;
      width: auto;
      height: 2rem;
      margin-right: 0;
      margin-left: auto;
      color: $grey;
    }
  }

  &__deposit {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    /* background: linear-gradient(
      45deg,
      $primary2,
      $primary1 100%
    );
    color: $white; */
    cursor: pointer;
    padding: 0.375rem !important;
    color: $grey;
    margin-right: 0.75rem;

    box-shadow: 0 0 0 0.25rem rgba($grey, 0.25), 0 0 0 1px rgba($grey, 0.25);
    background: transparent;
    transition: all 0.2s;
    
    &:hover {
      color: $white;
      box-shadow: 0 0 0 0.375rem rgba($grey, 0.25), 0 0 0 1px rgba($grey, 0.75);
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__quick &__popup {
    left: auto;
    right: 0;
    white-space: nowrap;
    text-align: right;

    a {
      text-decoration: none;
      color: $white;
      transition: opacity 0.2s;
      display: block;
      padding: 0.25rem 0;
      margin: 0;
      
      &:hover {
        opacity: 1;
      }
    }

    &:has(> a:hover) {
      a:not(:hover) {
        opacity: 0.5;
      }
    }
  }

  &__orca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 1.125rem;
    color: $black;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
    background: $grey;
    box-shadow: 0 0 0 0.25rem rgba($grey, 0.5);
    flex-shrink: 0;

    &.low {
      background: $teal;
      box-shadow: 0 0 0 0.25rem rgba($teal, 0.5);
    }

    &.medium {
      background: $orange;
      box-shadow: 0 0 0 0.25rem rgba($orange, 0.5);
    }

    &.high,
    &.critical {
      background: $red;
      box-shadow: 0 0 0 0.25rem rgba($red, 0.5);
    }

    svg {
      display: block;
      height: 1rem;
      width: auto;
      margin-left: -1px;
      margin-bottom: -1px;
    }
  }

  &__popup {
    background: rgba($darkGrey, 0.5);
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* --shadow-color: 0deg 0% 0%;
    box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.34),
    2px 4px 4px hsl(var(--shadow-color) / 0.34),
    3px 6px 6px hsl(var(--shadow-color) / 0.34); */
    
      
    /* box-shadow: 2px 2px 0 1px rgba(#000, 0.15),
      5px 5px 15px rgba(#000, 0.25); */
      box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
      100px 100px 80px rgba(0, 0, 0, 0.02);
    user-select: none;
    overflow: hidden;
    
    &.right {
      right: 0;
      left: auto;
    }

    .icon-denom {
      display: block;
      width: 1rem;
      height: auto;
    }

    .actions {
      margin-top: 0.8rem;
    }

    .action {
      color: $white;
      transition: color 0.2s;
      cursor: pointer;
      text-decoration: none;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      transition: opacity 0.2s;

      svg {
        display: block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.5rem;
      }

      span {
        font-family: "Barlow Semi Condensed", Verdana, sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .actions:has(> .action:hover) {
      .action:not(:hover) {
        opacity: 0.5;
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      padding: 0.875rem 0.5rem 0.5rem;
      border-radius: 0.5rem;
      background: $black;
      transition: all 0.2s;
      text-decoration: none;
      margin-bottom: 0.25rem;

      & > p {
        color: $grey;
      }

      &:hover {
        box-shadow: 0 0 0 3px rgba($grey, 0.15), 0 0 0 1px rgba($grey, 0.35);

        & > p {
          color: $white;
        }
      }
    }

    .blur {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      //background: rgba($darkGrey, 0.25);
      -webkit-backdrop-filter: brightness(25%) blur(3px);
      backdrop-filter: brightness(25%) blur(3px);
      mask: radial-gradient(circle at 65% 50%, black, rgba(0, 0, 0, 0) 100%);
    }

    .stop-interaction {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba($deepBlack, 0.5);
      backdrop-filter: saturate(50%) blur(1px);
    }

    .more {
      border-radius: 0.5rem;
      position: relative;
      z-index: 3;
      color: $grey;

      &:hover {
        background: $black;
        color: $white;
      }

      &__icon {
        display: block;
        width: 0.87rem;
        height: auto;
      }

      &__label {
        font-size: 0.75rem;
        font-family: "Barlow Semi Condensed", Verdana, sans-serif;
        padding: 0.5rem 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      &__select {
        position: absolute;
        left: -0.25rem;
        right: -0.25rem;
        top: 50%;
        transform: translateY(-50%);
        background: $darkGrey;
        border-radius: 0.5rem;
        white-space: nowrap;
        z-index: 2;
        overflow: hidden;
        box-shadow: 0 0 0 0.25rem rgba($deepBlack, 0.25);
      }
    }

    .address {
      color: $grey;
      border-radius: 0.5rem;
      background: all 0.2s;

      & > * {
        flex-shrink: 0;
      }
      
      &--selected {
        &:not(:only-of-type) {
          background: $black;
        }
        color: $white;
      }

      &__wallet {
        display: block;
        width: 0.87rem;
        height: auto;
      }

      &__address {
        font-size: 0.75rem;
        font-family: "Barlow Semi Condensed", Verdana, sans-serif;
        padding: 0.5rem 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        min-width: 9rem;
      }

      &:hover &__address {
        content: "Copy...";
      }

      &__disconnect {
        display: block;
        width: 1rem;
        height: 1rem;
        color: $grey;
        cursor: pointer;
        opacity: 0.25;
        transition: all 0.2s;
        margin-left: auto;
        margin-right: 0;

        &:hover {
          opacity: 1;
          color: $white;
        }
      }

      &--selected .address__disconnect {
        opacity: 1;
      }

      &__network {
        background: $black;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        padding: 0.25rem;
        color: $grey;

        &:hover {
          color: $white;
          box-shadow: 0 0 0 1px rgba($grey, 0.5);
        }

        svg {
          display: block;
          width: 0.75rem;
          height: 0.75rem;

          &:last-child {
            margin-left: 0.125rem;
          }
        }
      }

      &__network + .address__disconnect {
        margin-left: 0.5rem;
      }

      &__network-select {
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: $black;
        border-radius: 0.5rem;
        white-space: nowrap;
        padding: 0.25rem;
        z-index: 2;

        button {
          display: flex;
          align-items: center;
          padding: 0.25rem;
          border-radius: 0.375rem;
          width: 100%;

          &.selected {
            background-color: rgba($grey, 0.25);
          }

          svg {
            width: 1rem;
            height: 1rem;
            display: block;
          }

          span {
            font-size: 0.875rem;
            color: $white;
            margin-left: 0.5rem;
          }

          &:not(.selected):hover {
            background-color: rgba($grey, 0.1);
          }
        }

        /* &:has(> button:hover) {
          button:not(:hover) {
            opacity: 0.5;
          }
        } */
      }
    }
    


    /* .btn {
      padding: 0.5rem 0.5rem;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      transition: all 0.2s;
      cursor: pointer;
      text-decoration: none;
      color: $white;
      border-radius: 0.5rem;

      &:hover {
        background: rgba($black, 0.5);
        color: $primary6;
      }

      svg {
        display: block;
        height: 0.875rem;
        width: auto;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;

      tr {
        color: $white;

        &:hover {
          color: $primary6;
        }
      }

      td {
        vertical-align: middle;
        padding: 0.25rem;
        text-align: left;
        vertical-align: middle;

        a {
          color: currentColor;
        }

        svg {
          width: 0.875rem;
          height: 0.875rem;
        }
      }
    } */
  }

  &__wallets {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      display: block;

      img,
      svg {
        display: block;
        width: auto;
        height: 1.75rem;
        margin: 0.5rem;
      }

      &.medium {
        svg {
          height: 2.25rem;
        }
      }

      &.big {
        svg {
          height: 3rem;
        }
      }
    }

    a {
      color: $white;
      text-decoration: none;
      transition: color 0.2s;
      font-size: 0.875rem;

      &:hover {
        color: $primary6;
      }
    }

    hr {
      background-color: rgba($grey, 0.25);
    }
  }

  &__nav {
    margin: 0 0 0 2rem;
    display: none;

    @media screen and (min-width: 750px) {
      display: flex;
    }

    & > span {
      cursor: default;
    }

    & > a,
    & > span {
      display: inline-flex;
      align-items: center;
      font-size: 0.875rem;
      color: $white;
      font-weight: 600;
      padding: 0.5rem 1rem;
      transition: opacity 0.15s;
      //opacity: 0.75;
      text-decoration: none;
      position: relative;
      user-select: none;

      &:hover,
      &.selected {
        opacity: 1;
      }

      & > svg {
        display: block;
        height: 1.25em;
        width: auto;
        margin-left: 0.375rem;
      }
    }

    &:has(> span:hover), &:has(> a:hover) {
      & > span:not(:hover), & > a:not(:hover) {
        opacity: 0.5;
      }
    }

    .sub-nav {
      a {
        text-decoration: none;
        color: $white;
        
        h4 {
          transition: opacity 0.2s;
          opacity: 0.75;
        }

        p {
          color: $grey;
          transition: color 0.2s;
        }
        
        svg {
          transition: color 0.2s;
        }

        &[href]:not(.disabled):hover {
          h4 {
            opacity: 1;
          }
          svg, p {
            color: $white;
          }
        }

        &:not([href]) {
          opacity: 0.5;
        }
      }
    }
  }

  &__hamburger {
    display: block;
    color: $white;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 0;
    background-color: transparent;
    outline: none;

    &:focus,
    &:active {
      outline: none;
    }

    @media screen and (min-width: 750px) {
      display: none;
    }

    svg {
      display: block;
      width: auto;
      height: 1.5rem;
    }
  }

  &__mobile {
    &-nav {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      padding: 2rem;
      padding-bottom: 3rem;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;

      a {
        text-decoration: none;
        color: $grey;

        &:not([href]) {
          opacity: 0.5;
        }

        h4 {
          color: $white;
        }
      }
    }
    &-close {
      display: block;
      color: $white;
      padding: 0.5rem;
      border: 0;
      background-color: transparent;
      outline: none;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;

      &:focus,
      &:active {
        outline: none;
      }

      svg {
        display: block;
        width: auto;
        height: 1.5rem;
      }
    }
  }
}

.pulse {
  transform: scale(1);
  animation: pulse 1.25s infinite;
  box-shadow: 0 0 0 0 rgba($red, 1);
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba($red, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($red, 0);
  }

  100% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba($red, 0);
  }
}
