.popout {
  display: inline-block;
  position: relative;

  & > button {
    padding: 0;
    width: 2rem;
    height: 2rem;
    justify-content: center;
  }

  nav {
    position: absolute;
    display: none;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgba($darkGrey, 0.5);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0.5rem 0;
    text-align: left;
    z-index: 12;

    a, button {
      border: 0;
      outline: 0;
      background: transparent;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.25rem 2rem 0.25rem 1rem;
      font-size: 1rem;
      text-decoration: none;
      color: $white;
      cursor: pointer;
      transition: opacity 0.2s;

      svg {
        color: $grey;
        width: 1.25rem;
        height: auto;
        display: block;
        margin-right: 0.5rem;
      }
    }

    a {
      &:not([href]) {
        opacity: 0.5;
      }
    }

    &:has(> a[href]:hover), &:has(> button:not(:disabled):hover) {
      a:not(:hover), button:not(:hover) {
        opacity: 0.375;
      }
    }
  }

  &--open {
    nav {
      display: flex;
      flex-direction: column;
      box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028)/* ,
        100px 100px 80px rgba(0, 0, 0, 0.02) */;
    }
  }
}
