.slider {
  height: 16px;
  transition: opacity 0.2s;

  &__track {
    top: 6px;
    height: 4px;
    background: rgba($grey, 0.5);
    border-radius: 2px;

    &-0 {
      background: linear-gradient(90deg, $primary2, $primary1 100%);
    }
  }

  &__thumb {
    cursor: pointer;
    background: $primary1;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    outline: none;
    transition: box-shadow 0.15s;
    box-shadow: 0 0 6px 0 rgba($black, 0.75);

    &:hover {
      box-shadow: 0 0 0 4px rgba($primary1, 0.25);
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
